/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */

body {
    /* Colors */
    background-color: #252627;
    color: rgb(131, 156, 156);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size:xx-large;
    display: inline-block;
}

a {
    font-style: normal;
    text-decoration: none;
    color: rgb(186, 216, 216);
}

/* Navbar */

nav {
    display: inline-block;
}

.navbar {
    font-size: 20px;
    border: 2px solid rgb(17, 17, 24);
    background-color: #22272d;
    margin-bottom: 50px;
}

.navbar .homeLogo {
    width:85px;
    height: 85px;
    cursor:pointer;
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 20px;
    border-radius: 10px;
}

.navbar li:hover {
    background-color:rgb(20, 20, 34);
    cursor: pointer;
}

.navbar li:first-child {
    padding: 0 10px;
    margin-left: 20px;
}

.navSearch {
    background-color: rgb(17, 17, 24);
    color: rgb(131, 156, 156);
    border: none;
    padding: 10px;
    width: 300px;
}

.activePage,
.navbar .activePage li:hover{
    background-color:rgb(14, 14, 19);
    color: rgb(131, 156, 156);
    
}
